/Assignment-2_to_nipu/dist/
/CSE472 Machine Learning Sessional/Assignment 2/Assignment-2_to_nipu/dist/
/CSE474  Pattern Recognition Sessional/Assignement 3/Assignment 3/nbproject/private/
/CSE474  Pattern Recognition Sessional/Assignement 3/Assignment 4/nbproject/private/
/CSE474  Pattern Recognition Sessional/Assignement 3/Assignment 4/build/